/* 
.dropdown{
            border: 1px solid rgba(0,0,0,0.5);
           padding: 5px;
           margin: 10px;
           border-radius: 5px;
           box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
 }
  .btnBg{
            border-radius: 5px;
           background-color: #1a6ab1 !important;
           border: 1px solid #1a6ab1 !important;
           width: 200px;
           color: white !important;
           margin-top: 15px;    
     }

 .filterDiv{
                position: absolute;
               right: 0px;
               z-index: 99;
               width: 100%;
               display: flex;
               flex-direction: column;
               align-items: center;
               justify-content: center;
               box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
               padding-right: 25px;

    }

     .filterIcon{
                    padding-right: 27px;
                   padding-top: 10px;
                   padding-bottom: 0;
                   font-size: 25px;
     } */

.rowNew{
        width: 100%;
         /* padding: 20px;
         padding-bottom: 40px !important; */
}

.icon{
  width: 18px;
  height: 18px;
}




.box{
          /* margin-top: 115px !important; */
          /* margin-top: 40px !important; */
          margin-top: 5px !important;
          /* border-top: 1px solid #c5e5ff; */
          /* border-bottom: 1px solid #c5e5ff; */
          /* background-color: #F9FAFD ; */
          background-color: #134f85 !important;
          height: 80px;
          width: 100%;
          color: white;
          padding-top: 10px;
          padding-left: 25px;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
        }
        .h5New{
          color: white !important;
        }
        .pageInfo{
          /* padding-top: 10px; */
          /* color: #0071DC !important; */
          color: #ffffff !important;
          font-size: 25px;
          font-weight: 700;
          margin: 0;
        }
      