.item_down{
    padding: 10px 20px !important;
    border-top: 1px solid rgba(0,0,0,0.1) !important;
}
.userNamee{
    font-size: 14px !important;
    margin-bottom: 0px !important;
}
.pspeciality{
    font-size: 13px !important;
}
.mainContaner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .contactInfo{
        display: block;
    }
    .btn1{
        height: 40px;
        margin-top: 8px;
        background-color: white;
        color: green ;
        border-color: green ;
    }
}
.headerLeftMenu{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.box{
    margin-top: 20px;
    background-color: #F9FAFD ;
    height: 70px;
    width: 100%;
    color: white;
    padding-top: 10px;
    padding-left: 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    p{
        font-size: 12px;
        padding: 0;
        margin: 0;
    }
}
.logoDiv{
    width: 200px !important;
    padding-left: 20px;
    padding-bottom: 10px;
    cursor: pointer;
    
}
.image_round{
    width: 45px;
    height : 45px;
    border-radius: 100%;
}
.div_btn{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end !important;
    padding-top: 5px;
}

.borderRightSame{
    border-right: 1px solid rgba(0,0,0,0.1);
    margin-left: 8px;
}
.divIcon{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
}
.iconNoti{
    width: 20px;
}
@media (min-width: 375px) and (max-width: 812px) {
    .btnBookAppointment {
        width: 165px !important;
        height: 40px !important;
    }
    .borderRightSame {
        margin-left: 8px;
    }
    .divIcon {
        padding-left: 10px;
    }
    .image_round {
        margin-top: 2px;
        width: 35px;
        height: 35px;
    }
}