.dependent_center{
  display: flex;
  flex-direction: row !important;
  align-items: center !important;
  justify-content: center !important;
}

.box{
  /* margin-top: 115px !important; */
  /* margin-top: 40px !important; */
  margin-top: 5px !important;
  /* border-top: 1px solid #c5e5ff; */
  /* border-bottom: 1px solid #c5e5ff; */
  /* background-color: #F9FAFD ; */
  background-color: #134f85 !important;
  height: 80px;
  width: 100%;
  color: white;
  padding-top: 10px;
  padding-left: 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  
}

.container{
  padding-left: 15px;
  padding-right: 15px;
}





.h5New{
  color: white !important;
}
.pageInfo{
  /* padding-top: 10px; */
  /* color: #0071DC !important; */
  color: #ffffff !important;
  font-size: 25px;
  font-weight: 700;
  margin: 0;
}

.toggebtn{
  position: absolute;
    /* left: 200px; */
    font-size: 20px;
}

.toggle{
  position: absolute;
  z-index: 99;
  min-width: 300px;
}
.btn{
  background-color: #1a6ab1 !important;
    border: 1px solid #1a6ab1 !important;
    width: 200px;
    color: white !important;
    height: 45px !important;
}