.toggebtn{
  position: absolute;
    // left: 180px;
    font-size: 20px;
}

.toggle{
  position: absolute;
  z-index: 99;
  min-width: 300px;
}

.btnWithAddon {
  overflow: hidden;
  position: relative;
  padding: 5px !important;
  margin: 5px !important;
  // padding-left: 10px !important;
  border: none;
  width: fit-content;
  font-size: 13px !important;
  // padding-top: 5px;
  // max-width:160px;

  .btnAddon {
    position: absolute;
    z-index: 1;
    top: -1px;
    left: -1px;
    bottom: -1px;
    background-color: rgba(white, 0.2);
    width: rem(40);
  }

  .btnAddonIcon {
    font-size: rem(16);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.todayBox{
  padding: 10px;
}

.todayBox :hover{
  padding: 10px;
  border-radius: 10px;
  background-color: #e6ecff;
  cursor: pointer;
  // color: white;
}


.container{
  padding-left: 15px;
  padding-right: 15px;
}




@media (min-width: 900px){
  .heading{
    padding-left: 20px;
  }
  .ratingDiv{
    padding-left: 20px;
  }
}


@media only screen and (max-width: 770px) {
  .div_btn{
    padding: 0;
  }
}

@media only screen and (max-width: 1300px) {
  .btnWithAddon {
    
  font-weight: bold;
  font-size: 11px !important;
 
  }
}
