.new{
    border-top : 1px solid #e5f1fb;
    border-bottom : 1px solid #e5f1fb;
    /* position: absolute;
    bottom: 0; */
    width: 100%;
}
.img{
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 25px;
    background-color: aliceblue;
    border-radius: 50px;
}
.descriptions{
    color: aliceblue;
    padding-left: 32px;
    text-align: left;
    padding-top: 10px;
}

.logoDiv{
    width: 460px;
    padding-left: 20px;
}
.discriptions{
    max-width: 300px;
}
h5{
    color: #0071DC !important;
}
p{
    color:#808191 !important;
}
.footer_label{
    color: #0071DC !important;
    font-size: 16px !important;
    font-weight: 500 !important;
}
.footer_label2{
    
    font-size: 16px !important;
    font-weight: 500 !important;
}
.linkA{
    color: #808191 !important;
}