.div_btn{
 
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  padding-top: 5px;

}
.btn_gray{
    background-color:  gray !important;
    border : gray !important;
    border-radius:  50px;
    width: 130px !important;
    color: white;
    height:45px !important;
}
.calendarCustom{
    width: 100% !important;
    height: 35px;
}

.box{
    margin-top: 5px !important;
    background-color: #134f85 !important;
    height: 80px;
    width: 100%;
    color: white;
    padding-top: 10px;
    padding-left: 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  .h5New{
    color: white !important;
  }
  .pageInfo{
    /* padding-top: 10px; */
    /* color: #0071DC !important; */
    color: #ffffff !important;
    font-size: 25px;
    font-weight: 700;
    margin: 0;
  }

  .toggebtn{
    position: absolute;
      // left: 180px;
      font-size: 20px;
  }
  
  .toggle{
    position: absolute;
    z-index: 99;
    min-width: 300px;
  }
  .personHeading{
    padding-top: 20px;
  }
  .inputbox{
    height: 45px;
    border-radius: 5px;
    font-size: 14px;
  }
  .inputLable{
    font-size: 14px;
    padding-left: 5px;
  }
  .select{
    height: 45px !important;
    width: 100% !important;
    border-radius: 2px !important;  
  }

  .addressHeading{
    padding-top: 15px;
  }
  .selectMember{
    // height: 45px !important;
  }

  .insureHeading{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .container{
    padding-left: 15px;
    padding-right: 15px;
  }
  .container_Dr{
    display: flex;
    // align-items: center;
    // justify-content: space-between;
    img{
      width: 30px;
      height: 30px;
      border-radius: 100%;
      object-fit: cover;
     
    }
  }
  .bgImg{
    width: 30px;
      height: 30px;
      border-radius: 100%;
      object-fit: cover;
      margin-right: 20px;
  }
  .spinDiv{
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--rpv-default-layout__toolbar-background-color);
    border-radius: 100%;
    background: var(--rpv-core__spinner-border-transparent-color);
  }